.gin-control-zoom {
}

.gin-control-zoom-in, .gin-control-zoom-out {
	font-size: 22px;
	font: bold 18px 'Lucida Console', Monaco, monospace;
}

.gin-control-zoom-home {
	display: inline-flex !important;
    align-items: center;
    justify-content: center;
}